.clear-button {
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    padding: 6px;
    border-radius: 50px;
    width: 100%;
    background-color: #ac0246;
    margin-top: 8px;
    font-weight: bold;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #fff;
    color: #ac0246;
    border-color: #ac0246;
    box-shadow: 0 4px 20px rgba(172,2,70,0.3);
    transform: scale(1.05);
    transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s, border-color 0.2s, color 0.2s;
}